{% macro display_new_sources(sources_outcome)%}
<div class="container-fluid">
    <div class="card-columns">
        {% for news in sources_outcome%}
        <div class="card">
            <div class="card-header">
                <h4><a href="/articles/{{news.id}}">{{news.name}}</a></h4>
            </div>
            <div class="card-body">
                <p>
                    {{news.description}}
                </p>
                <a href="{{news.url}}"><button class="btn btn-sm btn-outline-success">Visit {{news.name}}</button></a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endmacro %}